<!-- components/client-management/client-management.component.html -->
<div>
    <form [formGroup]="clientForm" (ngSubmit)="submitForm()">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" formControlName="firstName" />
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" formControlName="lastName" />
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" formControlName="location" />
        </div>
        <button type="submit">Save Client</button>
    </form>
</div>

<div>
    <ul>
        <li *ngFor="let client of clients">
            {{ client.firstName }} {{ client.lastName }} ({{ client.location }})
            <button (click)="editClient(client)">Edit</button>
            <button (click)="deleteClient(client.id)">Delete</button>
        </li>
    </ul>
</div>